/*Infos Empresa*/

.info-container{
    display: flex;
    justify-content: center;
    margin: 60px auto;
}

#info-div{
    display: block;
    width: 265px;
    margin: 0 20px;
}

#info-div h2{
    color: var(--cor-principal);
    font-size: 60px;
    font-weight: 600;
    
}

#info-div span{
    font-size: 18px;
    font-weight: 500;   
}

#info-div p {
    color: var(--cor-do-texto);
}

/*Banner Propósitos*/

.banner{
    display: block;
    justify-content: center;
    text-align: center;
}

.banner span{
    background: rgba(142, 36, 36, 0.05);
    padding: 4px 12px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 14px;
    color: var(--cor-principal);
}

.banner h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 24px;
}

.banner p{
    color: var(--cor-do-texto);
    font-size: 20px;
    line-height: 30px;
}

.banner img{
    margin-top: 44px;
}

/*Vagas*/

.vagas{
    display: grid;
    justify-content: center;
}

#titulo-vagas{
    margin: 64px 0 32px 0;
    color: var(--cor-texto-vaga);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

#vaga{
    width: 720px;
    height: 84px;
    padding: 24px 24px 28px 24px;
    border: 1px solid #EAECF0;
    border-radius: 16px;
    margin-bottom: 24px;
}

#titulo-vaga{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--cor-texto-vaga);
}

#sobre-vaga{
    margin-top: 32px;
    color: var(--cor-do-texto);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

#salario-vaga{
    margin-left: 24px;
}

/*User Feedback*/

.feedbacks{
    display: block;
    background-color: rgba(196, 25, 25, 0.03);
    border-radius: 16px;
    margin: 96px auto;
    justify-content: center;
    text-align: center;
    width: 1152px;
    height: 340px;
    padding: 64px;
}

.feedback-txt span{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--cor-principal);
}

.feedback-txt h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
}

.feedback-user span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--cor-do-texto);
}