@import url("styles/nav-bar.css");
@import url("styles/header.css");

:root{
    --fonte-principal: "Inter";
    --cor-do-texto: #667085;
    --cor-principal: #8E2424;
    

}

body{
    font-family: var(--fonte-principal);
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}