@import url("css/secaoDestaque.css");


:root{
    --cor-de-fundo: #000000;
    --branco: #F6F6F6;
    --azul-ciano: #22D4FD;
    --fonte-principal: "Krona One";
    --fonte-secundaria: "Montserrat";
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}